<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>    
    <div class="container">
        <center>
            <p><h4>BERITA ACARA SERAH TERIMA (BAST) BMD</h4></p><p>Nomor 6816/KU.03.07/Kepegumhum</p>
        </center>
        <p>
            Pada hari ini Rabu tanggal empat bulan Oktober tahun dua ribu dua puluh tiga bertempat di Bandung, yang bertanda tangan di bawah ini:
        </p>
        <table width = 45%>
            <tr>
                <td width =15%>I.</td>
                <td>Nama</td>
                <td>:</td>
                <td>Adhiarta</td>
            </tr>
            <tr>
                <td></td>
                <td>NIP</td>
                <td>:</td>
                <td>12313</td>
            </tr>
            <tr>
                <td></td>
                <td>Pangkat/Gol</td>
                <td>:</td>
                <td>dasd</td>
            </tr>
            <tr>
                <td></td>
                <td>Jabatan</td>
                <td>:</td>
                <td>dasd</td>
            </tr>
        </table>
        <p>
            Selanjutnya, disebut sebagai PIHAK KESATU.
        </p>
        <table width = 45%>
            <tr>
                <td width =15%>II.</td>
                <td>Nama</td>
                <td>:</td>
                <td>Adhiarta</td>
            </tr>
            <tr>
                <td></td>
                <td>NIP</td>
                <td>:</td>
                <td>12313</td>
            </tr>
            <tr>
                <td></td>
                <td>Pangkat/Gol</td>
                <td>:</td>
                <td>dasd</td>
            </tr>
            <tr>
                <td></td>
                <td>Jabatan</td>
                <td>:</td>
                <td>dasd</td>
            </tr>
        </table>
        <p>Selanjutnya, disebut sebagai PIHAK KEDUA.</p>
        <p>PIHAK KESATU telah menyerahkan kepada PIHAK KEDUA dengan rincian BMD sebagaimana dalam Lampiran BAST ini dan merupakan bagian yang tidak dapat dipisahkan.</p>
        <center>Pasal 1</center>
        <p>Sejak BAST ini ditandatangani, maka PIHAK KEDUA bertanggung jawab atas BMD yang telah diserahkan, sesuai dengan ketentuan peraturan perundang-undangan di bidang pengelolaan BMD.</p>
        <center>Pasal 2</center>
        <p>PIHAK KEDUA berkewajiban untuk memelihara dan menjaga BMD yang telah diserahkan agar tetap sesuai dengan spesifikasi, kondisi, dan jumlah yang diterima. Apabila dikemudian hari PIHAK KEDUA dialihtugaskan, mutasi, dan/ atau pensiun maka diwajibkan untuk segera melapor dan mengembalikan BMD tersebut kepada Pengguna Barang melalui Pengurus Barang Pengguna/ Pembantu dalam kondisi baik sesuai pada saat BAST ini ditandatangani. Dalam hal BMD tersebut mengalami kerusakan yang tidak wajar/ kehilangan karena kelalaian pemakaian, maka PIHAK KEDUA bersedia untuk melunasi ganti rugi sesuai peraturan perundang-undangan yang berlaku.</p>
        <p>Demikian BAST ini dibuat dan di tandatangani bersama</p>

        <table width = 100% align="center">
            <tr align="center">
                <td>PIHAK KEDUA,</td>
                <td>PIHAK PERTAMA,</td>
            </tr>
            <tr>
                <td height = 100px></td>
            </tr>
            <tr align="center">
                <td colspan="2">Mengetahui</td>
            </tr>
            <tr align="center">
                <td colspan="2">PENGGUNA BARANG,</td>
            </tr>
            <tr>
                <td height = 100px></td>
            </tr>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>